<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/styles/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>EJS Welcome to <%= title %></p>
    <p>发送到发送地方</p>
    <div id='root'><%- view %></div>
    <div id='click'>点击更新view</div>
    <script src='/js/app.js'></script>
  </body>
</html>
